---
layout: base.njk
listaListado: music-production
seccionListado: audio
permalink: /audio/music-production/
titulo: Music production
descripcion: Music production by Adrián Hernández.
claseBody: pagina-listado con-pestanas listado-cuadrado
captcha: true
scripts: [captcha, scroll-infinito, sonido]
---
{%- set proyectos = collections.musicProduction %}
{% include "listado.njk" %}
{%- set activa = "music-production" %}
{% include "pestanas.njk" %}
